body {
    background-image: url("../../1.jpg");
    font-family: 'Arial', sans-serif;
    /* margin-left: auto;
    margin-right: auto; */
    margin: 0;
    padding: 0;
    /* padding-top: 50px;
    padding-bottom: 50px; */
    /* display: flex; */
    /* justify-content: center;
    align-items: center; */
    height: auto;
}

main {
    padding-top: 50px;
    padding-bottom: 50px;
}

.profile {
    width: 85%;
    padding: 30px;
    background-color: #fffffff1;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: auto;
}

h1 {
    text-align: center;
    margin-bottom: 30px;
    color: #111010;
    margin-top: 20px;
    margin-bottom: 20px;
}

img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    /* position: relative; */
    /* z-index: 1; */
}

#photo{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    /* border: 5px solid #fff; */
    margin: 0 auto 20px;
    display: block;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    /* position: relative; */
    /* z-index: 2; */
    /* background-color: #111010; */
}

h3{
    text-align: center;
    margin-bottom: 30px;
    color: #111010;
}

.information{
    text-align: center;
    padding: 30px;
    border: 2px solid #7e7e7e;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.pass{
    display: block;
    margin-top: 40px;
    text-align: center;
    padding: 30px;
    border: 2px solid #7e7e7e;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px; 
}

.lableinput{
    display: inline-block;
    width: 40%;
    text-align: left;
    margin-left: 20px;
    margin-right: 20px;
}

.passinput{
    display: inline-block;
    width: 40%;
    text-align: left;
    margin-left: 20px;
    margin-right: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #444444;
    font-size: 20px;
}

input[type="text"], input[type="password"], input[type="name"],input[type="email"], #gender {
    width: 100%;
    height: 40px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    font-size: 18px;
    color: #282828;
    padding-left: 10px;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}

#gender{
    width: auto;
}

input[type="text"]:focus, input[type="password"]:focus, input[type="name"]:focus,input[type="email"]:focus, #gender:focus {
    outline: none;
    box-shadow: 0 0 5px 1px #b6b6b6;
}

input[type="text"]:hover, input[type="password"]:hover, input[type="name"]:hover,input[type="email"]:hover, #gender:hover {
    outline: none;
    box-shadow: 0 0 5px 1px #b6b6b6;
}

input[type="submit"] {
    width: auto;
    padding: 15px 20px 15px 20px;
    border: none;
    background-color: #111010;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}

input[type="submit"]:hover {
    background-color: #555;
}

html {
    --s: 150px;/*controlthesize*/
    --c1: #b2b2b2;
    --c2: #ffffff;
    --c3: #d9d9d9;
    --_g: var(--c3) 0 120deg,#0000 0;
    background: conic-gradient(from -60deg at 50% calc(100%/3),var(--_g)),      conic-gradient(from 120deg at 50% calc(200%/3),var(--_g)),      conic-gradient(from  60deg at calc(200%/3),var(--c3) 60deg,var(--c2) 0 120deg,#0000 0),      conic-gradient(from 180deg at calc(100%/3),var(--c1) 60deg,var(--_g)),      linear-gradient(90deg,var(--c1)   calc(100%/6),var(--c2) 0 50%,                            var(--c1) 0 calc(500%/6),var(--c2) 0);
    background-size: calc(1.732*var(--s)) var(--s);
}